body {
  background: #f9f1ec;
  margin: 0;
  overflow: hidden;
}

.letter {
  stroke: #F9F1EC;
  font-size: 10px;
  font-family: "roboto";
  font-weight: 100;
}

.auxLetter {
  stroke: #F9F1EC;
  font-size: 8px;
  font-family: "roboto";
  font-weight: 100;
}

::-webkit-scrollbar {
  display: none;
}